<% if logged_in? %>

      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <section class="statistics">
        <%= render 'shared/micropost_form' %>
      </section>
    
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>

<head>
<title>Penguin App</title>
</head>
<body>
<h1>Penguin's Home</h1>
<p>
  Hello, we are adelie penguins.
  <a href="https://google.com/">ggrks</a>
  like twitter...
</p>
<%=link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary"%>
</body>
<% end %>